<div class="row">
  <div class="col-md-4">

  </div>

<div class="col-md-4">
  <form #f="ngForm" (ngSubmit)="submit(f)">

    <div class="form-group">
      <label for="sel1">Select Subject:</label>
      <select ngModel #subject="ngModel" class="form-control" name="subjectSelect" id="sel1">
        <option value=""></option>
        <option *ngFor="let subject of subjects" [value]="subject._id">{{ subject.subject }}</option>
      </select>
    </div>
    <button type="submit"  class="btn btn-primary">Submit</button>
  </form>
  </div>
</div>