<div class="row">
  <div class="col-md-8">
    <ng-template #noDiscussions>
      <h1>No discussions yet</h1>

    </ng-template>
    <div  *ngIf="(discussions.length)>=1; else noDiscussions">

    <div *ngFor="let discussion of discussions">
      <div class="card">
        <div class="card-body">
            <h3>{{ discussion.discussion_title }}</h3>
            <p>{{ discussion.discussion_text }}</p>
            <a class="btn btn-primary" [routerLink]="['singlediscussion',discussion._id]">Read more</a>
            <div class="card-footer text-muted">
              On &nbsp; {{ discussion.discussion_date | date:'fullDate'}} by {{ discussion.discussion_user }}
            </div>
    
        </div>
        
      </div>

    </div>
  </div>
</div>


  <div class="col-md-4">
    <form #f="ngForm" (ngSubmit)="OnSubmit(f)">
      <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" required ngModel #title="ngModel" name="title" class="form-control" id="title">
      </div>
      <div class="form-group">
        <label for="sel1">Select Subject:</label>
        <select ngModel #subject="ngModel" class="form-control" name="subjectSelect" id="sel1">
         
          <option  required *ngFor="let subject of subjects" [value]="subject._id">{{ subject.subject }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="body">Body:</label>
        <textarea  required ngModel #body="ngModel" name="body" rows="10" cols="30" class="form-control" id="body"></textarea>
      </div>
      <button type="submit" [disabled]="!user || !title.valid || !subject.valid || !body.valid" class="btn btn-default">Add Discussion</button>
    
        <p *ngIf="!user">Login to add Disscussion</p>
     

    </form>
  </div>
</div>