<div class="row">
  <div class="col-md-8">
    <ng-template #noDiscussions>
      <h1>No discussions yet</h1>

    </ng-template>
    <div *ngIf="(discussions.length)>=1; else noDiscussions">

      <div *ngFor="let discussion of discussions">
        <div class="card">
          <div class="card-body">
            <h3>{{ discussion.discussion_title }}</h3>
            <p>{{ discussion.discussion_text }}</p>
            <a class="btn btn-primary" [routerLink]="['singlediscussion',discussion._id]">Read more</a>
            <div class="card-footer text-muted">
              On &nbsp; {{ discussion.discussion_date | date:'fullDate'}} by {{ discussion.discussion_user }}
            </div>

          </div>

        </div>

      </div>
    </div>
  </div>


  <div class="col-md-4">
    <form #f="ngForm" (ngSubmit)="OnSubmit(f)">
      <div class="form-group">
        <label for="title">Title:</label>
        <input #discussionTitle="ngModel" ngModel  [(ngModel)]="title" type="text" name="title" class="form-control" id="title" required>
      </div>

      <div class="form-group">
        <label for="sel1">Select Subject:</label>
        <select #discussionSubject="ngModel" ngModel  [(ngModel)]="subjectSelect" class="form-control" name="subjectSelect" id="sel1" required>
          <option required *ngFor="let subject of subjects" [value]="subject._id">{{ subject.subject }}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="body">Body:</label>
        <textarea #discussionBody="ngModel" ngModel  [(ngModel)]="body" name="body" rows="10" cols="30" class="form-control" id="body" required></textarea>
      </div>
      <button type="submit" [disabled]="!user || !discussionTitle.valid || !discussionSubject.valid || !discussionBody.valid" class="btn btn-default">Add Discussion</button>
      <p *ngIf="!user">Login to add Disscussion</p>
    </form>
  </div>
</div>