<div class="container">
    <div class="jumbotron">
      <h1>At Online Tutorials, we’re improving lives through learning</h1> 
      <p>Learn the latest software skills and concepts needed to get the jump in career</p> 
    </div>
  </div>
<div class="row">
  <div class="col-md-4">
    <h2>Learn</h2>
    <img src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/256/book-icon.png">
  </div>
  <div class="col-md-4">
      <h2>Practice</h2>
      <img src="https://thumb9.shutterstock.com/display_pic_with_logo/11994/227409208/stock-vector-training-word-cloud-concept-with-great-terms-such-as-classroom-education-trade-vocational-227409208.jpg">
    </div>
    <div class="col-md-4">
        <h2>Play</h2>
        <img src="https://thumb7.shutterstock.com/display_pic_with_logo/384598/754980211/stock-vector-young-african-american-father-removing-snow-with-a-shovel-in-the-yard-while-his-son-and-daughter-754980211.jpg">
      </div>
</div>  